<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Farmacia</title>

    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap-datepicker3.standalone.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/tema/miestilo.css}" rel="stylesheet">

<!-- Head -->
</head>
<body>
<header th:fragment="header">
    <div class="container ">
        <div class="row navbar-expand-lg navbar-brand bg-dark">
            <div class="col-lg-3">
                <a class="navbar navbar-brand" style="color:white" th:href="@{/}">Proyecto Farmacia</a>
            </div>
            <div class="col-lg-6">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                </nav>
            </div>

            <div class="col-lg-1 navbar">
                <a class="btn btn-outline-primary" th:href="@{usuario/carrito}">
                    Mi carrito</a>
            </div>
            <div class="col-lg-1 navbar">
                <a class="btn btn-outline-primary" th:href="@{/usuario/alta-usuario}">Crear una cuenta</a>
            </div>
        </div>
    </div>
</header>
<!-- Container -->
<!--///////////-->

<!-- Footer -->
<footer th:fragment="footer">
    <div class="container text-center">
        <br/>
        <p>Autor: Tania Lizeth Peñaloza Lugo</p>
    </div>
    <script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
    <script th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/bootstrap/locales/bootstrap-datepicker.es.min.js}" charset="UTF-8"></script>
    <script th:src="@{/bootstrap/js/misconfiguraciones.js}"></script>

</footer>
</body>
</html>
