<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>

<body>
<header th:replace="plantillas/plantilla :: header"></header>

<main class="container text-center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Carrito</li>
    </ol>

    <div th:if="${warning != null}" class='alert alert-warning' role="alert">
        No ha registrado una dirección de envío.
        Registre su dirección en su cuenta.
    </div>
    <!-- Carrito Post -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <table class="table" >
                        <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dorden:${carrito}">
                                <td th:text="${dorden.detalleCompraId.articulo.nombre}"></td>
                                <td th:text="${dorden.detalleCompraId.articulo.precio}"></td>
                                <td th:text="${dorden.cantidad}"></td>
                                <td th:text="${dorden.precioTotal}"></td>
                                <td>
                                    <a th:href="@{/articulo/articulo-home/{id}
                                    (id=${dorden.detalleCompraId.articulo.articuloId})}"
                                       class="btn btn-success"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                    <a th:href="@{/articulo/delete-carrito/{id}
                                    (id=${dorden.detalleCompraId.articulo.articuloId})}"
                                       class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-3">
                    <h2 class="card-title">SUBTOTAL</h2>

                    <ul class="list-group">
<!--                        <form action="/articulo/detalle-orden"  method="post">-->
                            <li class="list-group-item"><h5 th:text="${pedido.total}"></h5></li>
                            <a th:href="@{/articulo/detalle-orden}" type="submit"
                                    class="btn btn-dark">Realizar compra</a>
<!--                        </form>-->
                    </ul>
                </div>


            </div>
        </div>
    </div>
    <!-- /.container -->

</main>

<footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>