<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
<body>
<header th:replace="plantillas/plantilla :: header"></header>
    <div class="container text-center">
       <div>
           <div class="container text-center">
               <img th:src="@{/imagen/notfound.png}" width="30%" height="30%"><br/>
           </div>
           <h2><strong> ¡Ups!... Sin resultados</strong></h2>
           <h3>Intente otra búsqueda</h3>
       </div>
    </div>
<footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>