<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
<body>
    <header th:replace="plantillas/plantilla :: header"></header>
    <main class="container text-center">
        <h1 th:text="${contenido}"></h1>
        <br/> <img th:src="@{/imagen/inicio-1.png}" />

        <!-- Page Features -->
        <div class="row text-center">
            <br/>
            <div class="col-lg-3 col-md-6 mb-4" th:each="articulo: ${articulos}">
                <div class="card h-100">
                    <img class="card-body"
                         th:src="@{'/imagenes/'+${articulo.imagen}}" width="100%" height="100%" alt="">
                    <div class="card-body">
                        <p class="card-text" th:text="${articulo.nombre}"></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/articulo/articulo-home/{articuloId}(articuloId=${articulo.articuloId})}"
                           class="btn btn-success">
                            Ver artículo
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav th:replace="plantillas/pag-nav :: paginador"></nav>
    </main>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>