<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="es">
<head th:replace="plantillas/plantilla :: head"></head>
<body>
    <header th:replace="plantillas/plantilla :: header"></header>
    <main class="container text-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active">Mi cuenta</li>
        </ol>

    <h1>Mi cuenta</h1><br>
        <div class="container align-content-end">
            <form action="/usuario/cerrar-sesion" method="post">
                <button type="submit"  class="btn btn-outline-secondary">Cerrar sesión</button>
            </form>
        </div>
        <br>
        <div class="container">
            <button class="btn-lg btn-primary btn-block" type="button" data-toggle="collapse"
                    data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                    Información personal </button>
        </div>

        <div class="collapse" id="collapseInfo">
            <div class="col-lg-12 card card-body">
                <div class="col-lg-12 btn btn-outline-primary">
                    <a class="dropdown-item" th:href="@{/usuario/modificar-usuario}">Modificar cuenta</a>
                </div>
                <div class="col-lg-12 btn btn-outline-primary">
                    <a class="dropdown-item" th:href="@{/usuario/eliminar-usuario}">Eliminar cuenta</a>
                </div>
                <div class="col-lg-12 btn btn-outline-primary" th:if="${direccionEntity == null}">
                    <a class="dropdown-item" th:href="@{/direccion/alta-direccion/{usuarioId} (usuario=${usuarioId})}">Registrar domicilio</a>
                </div>
                <div class="col-lg-12 btn btn-outline-primary"  th:if="${direccionEntity != null}">
                    <a class="dropdown-item"
                       th:href="@{/direccion/modificar-direccion/{id} (id=${direccionEntity.id})}">
                        Modificar domicilio</a>
                </div>
            </div>
        </div>


        <div class="container">
            <button class="btn-lg btn-primary btn-block" type="button" data-toggle="collapse"
                    data-target="#collapseTarjeta" aria-expanded="false" aria-controls="collapseTarjeta">
                    Tarjetas </button>
        </div>
        <div class="collapse" id="collapseTarjeta">
            <div class="col-lg-12 card card-header">
                <a class="btn btn-outline-primary" th:href="@{/tarjeta/alta-tarjeta}">Agregar tarjeta</a>
            </div>
            <div class="col-lg-12 card card-body">
                <p> Tarjetas registradas: </p>
                <br>
                <table th:if="${usuarioEntity.tarjeta != null}" class="table table-striped table-hover table-sm">
                    <thead class="table-dark table-bordered">
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t: ${usuarioEntity.tarjeta}">
                        <td th:text="${t.numeroTarjeta}"></td>
                        <td th:text="${t.tipoTarjeta}"></td>
                        <td>
                            <a th:href="@{/tarjeta/modificar-tarjeta/{id} (id=${t.id})}"
                               class="btn btn-success" ><i class="fas fa-pencil-alt" aria-hidden="true"></i>Modificar</a>
                            <a th:href="@{/tarjeta/borrar-tarjeta/{id} (id=${t.id})}"
                               class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i>Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="container">
            <button class="btn-lg btn-primary btn-block" type="button" data-toggle="collapse"
                    data-target="#collapsePedidos" aria-expanded="false" aria-controls="collapsePedidos">
                Historial de Compras </button>
        </div>
        <div class="collapse" id="collapsePedidos">
            <div class="col-lg-12 card card-body">
                <p> Historial de pedidos realizados: </p>
                <br>
                <table th:if="${pedidos != null}" class="table table-striped table-hover table-sm">
                    <thead class="table-dark table-bordered">
                    <tr>
                        <th scope="col">Número de pedido</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Método de pago</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">Status</th>
                        <th scope="col">PDF</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p: ${pedidos}">
                        <td th:text="${p.pedidoId}"></td>
                        <td th:text="${#dates.format(p.fecha, 'dd/MM/yyyy')}"></td>
                        <td th:text="${p.metodoPago.descripcion}"></td>
                        <td th:text="${p.total}"></td>
                        <td>
                            <th:block th:if="${not #lists.isEmpty(p.historicoEstatusList)}">
                                <!-- Obtener el último elemento de la lista -->
                                <th:block th:with="ultimoEstatus=${p.historicoEstatusList[__${#lists.size(p.historicoEstatusList) - 1}__]}">
                                    <p th:text="${ultimoEstatus.historicoEstatusId.estatus.nombre}"></p>
                                </th:block>
                            </th:block>
                            <th:block th:if="${#lists.isEmpty(p.historicoEstatusList)}">
                                <!-- Imprimir algo diferente cuando la lista esté vacía -->
                                <p>Sin estado</p>
                            </th:block>
                        </td>
                        <td>
                            <a class="btn btn-info btn-xs"
                               th:href="@{'/articulo/pdf' (pedidoId=${p.pedidoId}, format='pdf')}"
                               target="_blank">Descargar</a>
                            <input type="hidden" name="pedidoId" th:value="${p.pedidoId}">
                        </td>

                    </tr>
                    </tbody>
                </table>
                <nav th:replace="plantillas/pag-nav :: paginador"></nav>
            </div>
        </div>



    </main>
    <footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>